*.sw[a-p]

CMakeCache.txt
CMakeLists.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
__pycache__
.idea/
*.pyc
*.pyd

/oldimages
/paintimages
